* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
main {
  width: 100%;
  position: relative;
  padding-top: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}
main .page-1 {
  width: 100vw;
  height: 90vh;
  background-color: #0112FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}
main .page-1 h1 {
  font-size: 12rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 10rem;
  letter-spacing: -0.4rem;
}
main .page-1 p {
  width: 20vw;
  text-align: center;
  margin-top: 1vw;
  font-size: 1vw;
}
main .page-1 .img-wrapper {
  width: 20vw;
  height: 35vh;
  position: absolute;
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 10;
}
main .page-1 .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .page-2 {
  width: 100vw;
  margin-top: 5vw;
  background-color: #F0A330;
  font-family: sans-serif;
  position: relative;
  padding: 4vw;
}
main .page-2 .heading {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
main .page-2 .heading h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 6rem;
  line-height: 5rem;
  letter-spacing: -0.02rem;
}
main .page-2 .heading .text {
  padding: 0.2rem 0.5rem;
  border-radius: 2rem;
  border: 3px solid #F0A330;
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: #D1255C;
  color: #F0A330;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}
main .page-2 .heading .text-1 {
  top: -1rem;
  left: 22vw;
}
main .page-2 .heading .text-2 {
  top: 2vh;
  right: 30vw;
  transform: rotate(15deg);
}
main .page-2 .heading .text-3 {
  top: 4.3vw;
  left: 45vw;
}
main .page-2 .heading .text:hover {
  transform: translateY(-15px);
}
main .page-2 .heading .para {
  text-align: center;
  margin-top: 1rem;
}
main .page-2 .food-layout {
  margin-top: 10vw;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
main .page-2 .food-layout .line {
  align-self: stretch;
  width: 1px;
  background-color: black;
}
main .page-2 .food-layout .layout-1,
main .page-2 .food-layout .layout-2,
main .page-2 .food-layout .layout-3 {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  transition: all 2s;
}
main .page-2 .food-layout .layout-1 .top,
main .page-2 .food-layout .layout-2 .top,
main .page-2 .food-layout .layout-3 .top {
  display: flex;
  align-items: center;
  gap: 1vw;
}
main .page-2 .food-layout .layout-1 .top .logo,
main .page-2 .food-layout .layout-2 .top .logo,
main .page-2 .food-layout .layout-3 .top .logo {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-color: brown;
}
main .page-2 .food-layout .layout-1 .mid,
main .page-2 .food-layout .layout-2 .mid,
main .page-2 .food-layout .layout-3 .mid {
  margin-top: 3vw;
  font-family: monospace;
  width: 25vw;
  font-size: 1rem;
}
main .page-2 .food-layout .layout-1 .bottom,
main .page-2 .food-layout .layout-2 .bottom,
main .page-2 .food-layout .layout-3 .bottom {
  margin-top: 10vw;
  width: 25vw;
  height: 40vh;
}
main .page-2 .food-layout .layout-1 .bottom img,
main .page-2 .food-layout .layout-2 .bottom img,
main .page-2 .food-layout .layout-3 .bottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: all 0.8s ease;
}
main .page-3 {
  margin-top: 20vh;
  width: 100vw;
  min-height: 250vh;
  position: relative;
}
main .page-3 .top-head {
  width: 100%;
  height: 100vh;
  text-transform: uppercase;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main .page-3 .top-head .wrapper {
  display: flex;
  flex-direction: column;
}
main .page-3 .top-head .wrapper h1 {
  font-weight: 600;
  font-size: 5vw;
  line-height: 4.8vw;
}
main .page-3 .top-head .wrapper .singel {
  display: flex;
  align-items: end;
  justify-content: center;
}
main .page-3 .top-head .wrapper .singel h1 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 5vw;
}
main .page-3 .top-head .wrapper .singel p {
  font-size: 0.8rem;
  width: 15vw;
  text-align: start;
}
main .page-3 .top-head .wrapper :nth-child(3) {
  width: -moz-fit-content;
  width: fit-content;
}
main .page-3 .center {
  width: 100vw;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main .page-3 .center .left {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 5vw;
}
main .page-3 .center .left h1 {
  width: 25vw;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
  text-transform: uppercase;
}
main .page-3 .center .left h3 {
  margin-top: 1rem;
  opacity: 0.5;
}
main .page-3 .center .right {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding: 5vw;
}
main .page-3 .center .right h1 {
  width: 20vw;
  font-weight: 600;
  text-transform: uppercase;
}
main .page-3 .center .right .circle {
  width: 10vw;
  height: 10vw;
  border: 1px solid black;
  border-radius: 50%;
}
main .page-3 .bottom {
  width: 100vw;
}
main .page-3 .bottom .top {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 8vw;
  padding: 4vw;
}
main .page-3 .bottom .top h1 {
  width: 45vw;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
main .page-3 .bottom .end {
  width: 100vw;
  display: flex;
  padding: 5vw;
}
main .page-3 .bottom .end .left {
  width: 50vw;
  height: 60vh;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
main .page-3 .bottom .end .left p {
  font-size: 1rem;
  font-family: monospace;
}
main .page-3 .bottom .end .left h1 {
  margin-top: 2rem;
  width: 25vw;
}
main .page-3 .bottom .end .right {
  width: 50vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}
main .page-3 .bottom .end .right .wrapper h1 {
  text-transform: uppercase;
}
main .page-3 .bottom .end .right .wrapper p {
  width: 30vw;
  margin-top: 1rem;
}
main .page-3 .float-img {
  position: sticky;
  top: 10vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: -90vh;
  width: 35vw;
  height: 90vh;
}
main .page-3 .float-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: float 4s ease-in-out infinite;
}/*# sourceMappingURL=style.css.map */