* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

// #ffecec
// #373535

main {
    // width: 100%;
    // position: relative;
    // padding-top: 2vw;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // // overflow: hidden;
    // cursor: default;

}

.page-1 {
    width: 100%;
    height: 90vh;

    background-color: #ffecec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #373535;
    position: relative;


    h1 {
        font-size: 5vw;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform: uppercase;
        text-align: center;
        line-height: 5.5rem;
        letter-spacing: -0.4rem;
    }

    p {
        width: 25vw;
        text-align: center;
        margin-top: 1vw;
        font-size: 1vw;
    }

    .img-wrapper {
        width: 20vw;
        height: 35vh;
        position: absolute;
        pointer-events: none;
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        z-index: 10;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .mobile {
        display: none;
        width: 35vh;
        height: 35vh;
        pointer-events: none;
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        z-index: 10;
        margin-top: 1rem;
        margin-bottom: 1rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    button {
        padding: 0.8rem 2rem;
        background-color: transparent;
        color: black;
        margin-top: 10vw;
        border-radius: 5vw;
        position: relative;
        z-index: 0;
        overflow: hidden;
    }

    button::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #373535;
        border-radius: 5vw;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s ease;
        z-index: -1;
    }

    button:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }

    button:hover {
        color: white;
    }

}


.page-2 {
    width: 100%;
    margin-top: 5vw;
    // background-color: #F0A330;
    font-family: sans-serif;
    position: relative;
    padding: 4vw;

    .heading {
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        h1 {
            text-transform: uppercase;
            text-align: center;
            font-size: 6rem;
            line-height: 5rem;
            letter-spacing: -0.02rem;
        }

        .text {
            padding: 0.2rem 0.5rem;
            border-radius: 2rem;
            border: 3px solid #F0A330;
            text-transform: uppercase;
            font-size: 0.8rem;
            background-color: #D1255C;
            color: #F0A330;
            width: fit-content;
            position: absolute;
            transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
        }

        .text-1 {
            top: -1rem;
            left: 22vw;
        }

        .text-2 {
            top: 2vh;
            right: 30vw;
            transform: rotate(15deg);
        }

        .text-3 {
            top: 4.3vw;
            left: 45vw;
        }

        .text:hover {
            transform: translateY(-15px);
        }

        .para {
            text-align: center;
            margin-top: 1rem;
        }
    }

    .food-layout {
        margin-top: 10vw;
        display: flex;
        justify-content: center;
        // gap: 2rem;
        align-items: stretch;
        flex-wrap: wrap;

        .line {
            align-self: stretch;
            width: 1px;
            background-color: black;
            opacity: 0.3;
        }


        .layout-1,
        .layout-2,
        .layout-3 {
            display: flex;
            flex-direction: column;
            padding: 2rem;
            transition: all 2s;

            .top {
                display: flex;
                align-items: center;
                gap: 1vw;

                .logo {
                    width: 3vw;
                    height: 3vw;
                    border-radius: 50%;
                    // background-color: brown;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .mid {
                margin-top: 3vw;
                font-family: monospace;
                width: 25vw;
                font-size: 1rem;
                line-height: 1.5rem;
            }

            .bottom {
                margin-top: 10vw;
                width: 25vw;
                height: 40vh;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
                    transition: all 0.4s ease;
                }
            }


        }

        .layout-1:hover {
            .bottom {

                img {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }
        }

        .layout-2:hover {
            .bottom {

                img {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }
        }

        .layout-3:hover {
            .bottom {

                img {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }
        }


    }

}

.page-3 {
    margin-top: 20vh;
    width: 100%;
    min-height: 250vh;
    position: relative;

    .top-head {
        width: 100%;
        height: 100vh;
        text-transform: uppercase;
        margin-top: 4rem;
        display: flex;
        // justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        .wrapper {
            display: flex;
            flex-direction: column;

            h1 {
                // width: 25vw;
                font-weight: 600;
                font-size: 5vw;
                line-height: 4.8vw;
            }

            .singel {
                width: 100%;
                display: flex;
                align-items: end;
                justify-content: center;
                gap: 1rem;

                // gap: 0.5rem;
                h1 {
                    width: fit-content;
                    font-size: 5vw;
                }

                p {
                    font-size: 0.8rem;
                    // width: 15vw;
                    text-align: start;

                }
            }


            :nth-child(3) {
                width: fit-content;
            }

            .text {
                display: none;
            }

            .mobile {
                display: none;
            }
        }




    }

    .center {
        width: 100%;
        // height: 100vh;
        display: flex;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        .left {
            width: 50vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 5vw;

            h1 {
                width: 25vw;
                font-size: 2rem;
                font-weight: 600;
                line-height: 2rem;
                text-transform: uppercase;
            }

            h3 {
                margin-top: 1rem;
                opacity: 0.5;
            }
        }

        .right {
            width: 50vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: end;
            padding: 5vw;

            h1 {
                width: 20vw;
                font-weight: 600;
                text-transform: uppercase;
            }

            .circle {
                width: 8vw;
                // height: 10vw;
                margin-bottom: 5vw;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .bottom {
        width: 100%;

        .top {
            width: 100%;
            height: 20vh;
            display: flex;
            justify-content: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-top: 8vw;
            padding: 4vw;

            h1 {
                width: 45vw;
                text-transform: uppercase;
                text-align: center;
                font-weight: 600;
            }
        }

        .end {
            width: 100%;
            display: flex;
            padding: 5vw;


            .left {
                width: 50vw;
                height: 60vh;
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                justify-content: end;

                p {
                    font-size: 1rem;
                    font-family: monospace;

                }

                h1 {
                    margin-top: 2rem;
                    width: 25vw;

                }
            }

            .right {
                width: 50vw;
                height: 60vh;
                display: flex;
                justify-content: center;
                align-items: end;
                flex-direction: column;

                .wrapper {

                    h1 {
                        text-transform: uppercase;
                    }

                    p {
                        width: 30vw;
                        margin-top: 1rem;
                    }
                }

            }
        }
    }

    .float-img {
        position: sticky;
        top: 10vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: -85vh;
        width: 45vw;
        height: 90vh;
        z-index: 99;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            animation: float 4s ease-in-out infinite;
        }
    }

}

@media (max-width: 850px) {}

@media (max-width: 1200px) {
    .page-1 {
        h1 {
            font-size: 6vh;
            line-height: 5vh;
            letter-spacing: normal;
        }

        .desktop {
            display: none;
        }

        .mobile {
            display: inline-flex;
        }

        p {
            font-size: 1rem;
            width: 40vh;
        }
    }

    .page-2 {
        padding: 5vh;

        .heading {
            .text {
                display: none;
            }
        }

        .food-layout {
            display: grid;
            gap: 1vw;

            grid-template-columns: repeat(auto-fit, 400px);

            .desktop {
                display: none;
            }

            .layout-1,
            .layout-2,
            .layout-3 {
                padding: 3vw;

                .top {
                    display: flex;
                    align-items: center;
                    gap: 1vw;

                    .logo {
                        width: 3vh;
                        height: 3vh;
                        border-radius: 50%;
                        // background-color: brown;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .mid {
                    margin-top: 2vw;
                    font-family: monospace;
                    width: 100%;
                    font-size: 1rem;
                    line-height: 1.5rem;
                }

                .bottom {
                    margin-top: 7vw;
                    width: 100%;
                    // height: 40vh;

                    img {
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                    }
                }
            }
        }
    }

    .page-3 {
        margin-top: 10vh;

        .top-head {

            .wrapper {
                justify-content: center;
                align-items: center;

                .text {
                    display: inline-flex;
                    text-align: center;
                }

                h1 {
                    // width: 25vw;
                    font-weight: 600;
                    font-size: 5vh;
                    line-height: 4.8vh;
                }

                .text-1 {
                    display: none;
                }




                .singel {
                    flex-direction: column-reverse;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 2vh;

                    h1 {
                        display: none;
                    }

                    p {
                        width: 100%;
                        text-align: center;
                        font-size: 3vh;
                    }
                }
            }
        }

        .float-img {
            position: sticky;
            top: 10vh;
            margin-left: auto;
            margin-right: auto;
            margin-top: -88vh;
            width: 35vh;
            height: 70vh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                animation: float 4s ease-in-out infinite;
            }
        }

        .center {
            width: 100%;
            // height: 100vh;
            display: flex;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-top: 8vh;

            .left {
                width: 50vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: end;
                padding: 5vw;

                h1 {
                    width: 35vh;
                    font-size: 1.5rem;
                    font-weight: 600;
                    line-height: 2rem;
                    text-transform: uppercase;
                }

                h3 {
                    margin-top: 1rem;
                    opacity: 0.5;
                }
            }

            .right {
                width: 50vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: end;
                padding: 5vw;

                h1 {
                    width: 35vh;
                    font-size: 1.5rem;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .circle {
                    width: 8vh;
                }
            }
        }


        .bottom {
            width: 100%;

            .top {
                width: 100%;
                height: 20vh;
                display: flex;
                justify-content: center;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                margin-top: 8vw;
                padding: 4vw;

                h1 {
                    width: 60vh;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 600;
                }
            }

            .end {
                width: 100%;
                display: flex;
                margin-top: 35vh;
                flex-direction: column-reverse;
                gap: 5vh;
                // padding: 5vh;


                .left {
                    width: 50vw;
                    height: auto;
                    text-transform: uppercase;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;

                    p {
                        font-size: 1rem;
                        font-family: monospace;

                    }

                    h1 {
                        font-size: 1.5rem;
                        margin-top: 1rem;
                        width: 30vh;

                    }
                }

                .right {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: end;
                    align-items: end;
                    flex-direction: column;
                    
                    .wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: end;
                        align-items: end;

                        h1 {
                            text-transform: uppercase;
                        }

                        p {
                            width: 45vh;
                            margin-top: 1rem;
                            text-align: end;
                        }
                    }

                }
            }
        }


    }
}