* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}


@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

main {
    width: 100%;
    position: relative;
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
    cursor: default;

    .page-1 {
        width: 100vw;
        height: 90vh;
        background-color: #0112FF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        position: relative;


        h1 {
            font-size: 12rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-transform: uppercase;
            text-align: center;
            line-height: 10rem;
            letter-spacing: -0.4rem;
        }

        p {
            width: 20vw;
            text-align: center;
            margin-top: 1vw;
            font-size: 1vw;
        }

        .img-wrapper {
            width: 20vw;
            height: 35vh;
            position: absolute;
            pointer-events: none;
            transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            z-index: 10;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }


    .page-2 {
        width: 100vw;

        margin-top: 5vw;
        background-color: #F0A330;
        font-family: sans-serif;
        position: relative;
        padding: 4vw;

        .heading {
            position: relative;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;

            h1 {
                text-transform: uppercase;
                text-align: center;
                font-size: 6rem;
                line-height: 5rem;
                letter-spacing: -0.02rem;
            }

            .text {
                padding: 0.2rem 0.5rem;
                border-radius: 2rem;
                border: 3px solid #F0A330;
                text-transform: uppercase;
                font-size: 0.8rem;
                background-color: #D1255C;
                color: #F0A330;
                width: fit-content;
                position: absolute;
                transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
            }

            .text-1 {
                top: -1rem;
                left: 22vw;
            }

            .text-2 {
                top: 2vh;
                right: 30vw;
                transform: rotate(15deg);
            }

            .text-3 {
                top: 4.3vw;
                left: 45vw;
            }

            .text:hover {
                transform: translateY(-15px);
            }

            .para {
                text-align: center;
                margin-top: 1rem;
            }
        }

        .food-layout {
            margin-top: 10vw;
            display: flex;
            justify-content: center;
            // gap: 2rem;
            align-items: stretch;

            .line {
                align-self: stretch;
                width: 1px;
                background-color: black;
            }

            .layout-1,
            .layout-2,
            .layout-3 {
                display: flex;
                flex-direction: column;
                padding: 2rem;
                transition: all 2s;

                .top {
                    display: flex;
                    align-items: center;
                    gap: 1vw;

                    .logo {

                        width: 3vw;
                        height: 3vw;
                        border-radius: 50%;
                        background-color: brown;
                    }
                }

                .mid {
                    margin-top: 3vw;
                    font-family: monospace;
                    width: 25vw;
                    font-size: 1rem;
                }

                .bottom {
                    margin-top: 10vw;
                    width: 25vw;
                    height: 40vh;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
                        transition: all 0.8s ease;
                    }
                }
            }


        }

    }

    .page-3 {
        margin-top: 20vh;
        width: 100vw;
        min-height: 250vh;
        position: relative;

        .top-head {
            width: 100%;
            height: 100vh;
            text-transform: uppercase;
            margin-top: 4rem;
            display: flex;
            // justify-content: center;
            flex-direction: column;
            align-items: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

            .wrapper {
                display: flex;
                flex-direction: column;

                h1 {
                    // width: 25vw;
                    font-weight: 600;
                    font-size: 5vw;
                    line-height: 4.8vw;
                }

                .singel {
                    display: flex;
                    align-items: end;
                    justify-content: center;

                    // gap: 0.5rem;
                    h1 {
                        width: fit-content;
                        font-size: 5vw;
                    }

                    p {
                        font-size: 0.8rem;
                        width: 15vw;
                        text-align: start;

                    }
                }


                :nth-child(3) {
                    width: fit-content;
                }
            }




        }

        .center {
            width: 100vw;
            // height: 100vh;
            display: flex;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

            .left {
                width: 50vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: end;
                padding: 5vw;

                h1 {
                    width: 25vw;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 2rem;
                    text-transform: uppercase;
                }

                h3 {
                    margin-top: 1rem;
                    opacity: 0.5;
                }
            }

            .right {
                width: 50vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: end;
                padding: 5vw;

                h1 {
                    width: 20vw;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .circle {
                    width: 10vw;
                    height: 10vw;
                    border: 1px solid black;
                    border-radius: 50%;
                }
            }
        }

        .bottom {
            width: 100vw;

            .top {
                width: 100vw;
                height: 20vh;
                display: flex;
                justify-content: center;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                margin-top: 8vw;
                padding: 4vw;

                h1 {
                    width: 45vw;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 600;
                }
            }

            .end {
                width: 100vw;
                display: flex;
                padding: 5vw;


                .left {
                    width: 50vw;
                    height: 60vh;
                    text-transform: uppercase;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;

                    p {
                        font-size: 1rem;
                        font-family: monospace;

                    }

                    h1 {
                        margin-top: 2rem;
                        width: 25vw;

                    }
                }

                .right {
                    width: 50vw;
                    height: 60vh;
                    display: flex;
                    justify-content: center;
                    align-items: end;
                    flex-direction: column;

                    .wrapper {

                        h1 {
                            text-transform: uppercase;
                        }

                        p {
                            width: 30vw;
                            margin-top: 1rem;
                        }
                    }

                }
            }
        }

        .float-img {
            position: sticky;
            top: 10vh;
            margin-left: auto;
            margin-right: auto;
            margin-top: -90vh;
            width: 35vw;
            height: 90vh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                animation: float 4s ease-in-out infinite;
            }
        }

    }
}