* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  cursor: default;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.page-1 {
  width: 100%;
  height: 90vh;
  background-color: #ffecec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #373535;
  position: relative;
}
.page-1 h1 {
  font-size: 5vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 5.5rem;
  letter-spacing: -0.4rem;
}
.page-1 p {
  width: 25vw;
  text-align: center;
  margin-top: 1vw;
  font-size: 1vw;
}
.page-1 .img-wrapper {
  width: 20vw;
  height: 35vh;
  position: absolute;
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 10;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.page-1 .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-1 .mobile {
  display: none;
  width: 35vh;
  height: 35vh;
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 10;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.page-1 .mobile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-1 button {
  padding: 0.8rem 2rem;
  background-color: transparent;
  color: black;
  margin-top: 10vw;
  border-radius: 5vw;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.page-1 button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #373535;
  border-radius: 5vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease;
  z-index: -1;
}
.page-1 button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.page-1 button:hover {
  color: white;
}

.page-2 {
  width: 100%;
  margin-top: 5vw;
  font-family: sans-serif;
  position: relative;
  padding: 4vw;
}
.page-2 .heading {
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.page-2 .heading h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 6rem;
  line-height: 5rem;
  letter-spacing: -0.02rem;
}
.page-2 .heading .text {
  padding: 0.2rem 0.5rem;
  border-radius: 2rem;
  border: 3px solid #F0A330;
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: #D1255C;
  color: #F0A330;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}
.page-2 .heading .text-1 {
  top: -1rem;
  left: 22vw;
}
.page-2 .heading .text-2 {
  top: 2vh;
  right: 30vw;
  transform: rotate(15deg);
}
.page-2 .heading .text-3 {
  top: 4.3vw;
  left: 45vw;
}
.page-2 .heading .text:hover {
  transform: translateY(-15px);
}
.page-2 .heading .para {
  text-align: center;
  margin-top: 1rem;
}
.page-2 .food-layout {
  margin-top: 10vw;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.page-2 .food-layout .line {
  align-self: stretch;
  width: 1px;
  background-color: black;
  opacity: 0.3;
}
.page-2 .food-layout .layout-1,
.page-2 .food-layout .layout-2,
.page-2 .food-layout .layout-3 {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  transition: all 2s;
}
.page-2 .food-layout .layout-1 .top,
.page-2 .food-layout .layout-2 .top,
.page-2 .food-layout .layout-3 .top {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.page-2 .food-layout .layout-1 .top .logo,
.page-2 .food-layout .layout-2 .top .logo,
.page-2 .food-layout .layout-3 .top .logo {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
}
.page-2 .food-layout .layout-1 .top .logo img,
.page-2 .food-layout .layout-2 .top .logo img,
.page-2 .food-layout .layout-3 .top .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-2 .food-layout .layout-1 .mid,
.page-2 .food-layout .layout-2 .mid,
.page-2 .food-layout .layout-3 .mid {
  margin-top: 3vw;
  font-family: monospace;
  width: 25vw;
  font-size: 1rem;
  line-height: 1.5rem;
}
.page-2 .food-layout .layout-1 .bottom,
.page-2 .food-layout .layout-2 .bottom,
.page-2 .food-layout .layout-3 .bottom {
  margin-top: 10vw;
  width: 25vw;
  height: 40vh;
}
.page-2 .food-layout .layout-1 .bottom img,
.page-2 .food-layout .layout-2 .bottom img,
.page-2 .food-layout .layout-3 .bottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transition: all 0.4s ease;
}
.page-2 .food-layout .layout-1:hover .bottom img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.page-2 .food-layout .layout-2:hover .bottom img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.page-2 .food-layout .layout-3:hover .bottom img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.page-3 {
  margin-top: 20vh;
  width: 100%;
  min-height: 250vh;
  position: relative;
}
.page-3 .top-head {
  width: 100%;
  height: 100vh;
  text-transform: uppercase;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.page-3 .top-head .wrapper {
  display: flex;
  flex-direction: column;
}
.page-3 .top-head .wrapper h1 {
  font-weight: 600;
  font-size: 5vw;
  line-height: 4.8vw;
}
.page-3 .top-head .wrapper .singel {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 1rem;
}
.page-3 .top-head .wrapper .singel h1 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 5vw;
}
.page-3 .top-head .wrapper .singel p {
  font-size: 0.8rem;
  text-align: start;
}
.page-3 .top-head .wrapper :nth-child(3) {
  width: -moz-fit-content;
  width: fit-content;
}
.page-3 .top-head .wrapper .text {
  display: none;
}
.page-3 .top-head .wrapper .mobile {
  display: none;
}
.page-3 .center {
  width: 100%;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.page-3 .center .left {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 5vw;
}
.page-3 .center .left h1 {
  width: 25vw;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
  text-transform: uppercase;
}
.page-3 .center .left h3 {
  margin-top: 1rem;
  opacity: 0.5;
}
.page-3 .center .right {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding: 5vw;
}
.page-3 .center .right h1 {
  width: 20vw;
  font-weight: 600;
  text-transform: uppercase;
}
.page-3 .center .right .circle {
  width: 8vw;
  margin-bottom: 5vw;
}
.page-3 .center .right .circle img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-3 .bottom {
  width: 100%;
}
.page-3 .bottom .top {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 8vw;
  padding: 4vw;
}
.page-3 .bottom .top h1 {
  width: 45vw;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
.page-3 .bottom .end {
  width: 100%;
  display: flex;
  padding: 5vw;
}
.page-3 .bottom .end .left {
  width: 50vw;
  height: 60vh;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.page-3 .bottom .end .left p {
  font-size: 1rem;
  font-family: monospace;
}
.page-3 .bottom .end .left h1 {
  margin-top: 2rem;
  width: 25vw;
}
.page-3 .bottom .end .right {
  width: 50vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}
.page-3 .bottom .end .right .wrapper h1 {
  text-transform: uppercase;
}
.page-3 .bottom .end .right .wrapper p {
  width: 30vw;
  margin-top: 1rem;
}
.page-3 .float-img {
  position: sticky;
  top: 10vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: -85vh;
  width: 45vw;
  height: 90vh;
  z-index: 99;
}
.page-3 .float-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: float 4s ease-in-out infinite;
}

@media (max-width: 1200px) {
  .page-1 h1 {
    font-size: 6vh;
    line-height: 5vh;
    letter-spacing: normal;
  }
  .page-1 .desktop {
    display: none;
  }
  .page-1 .mobile {
    display: inline-flex;
  }
  .page-1 p {
    font-size: 1rem;
    width: 40vh;
  }
  .page-2 {
    padding: 4vh;
  }
  .page-2 .heading .text {
    display: none;
  }
  .page-2 .heading h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 7vh;
    letter-spacing: -0.02rem;
  }
  .page-2 .food-layout {
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(auto-fit, 400px);
  }
  .page-2 .food-layout .desktop {
    display: none;
  }
  .page-2 .food-layout .layout-1,
  .page-2 .food-layout .layout-2,
  .page-2 .food-layout .layout-3 {
    padding: 3vw;
  }
  .page-2 .food-layout .layout-1 .top,
  .page-2 .food-layout .layout-2 .top,
  .page-2 .food-layout .layout-3 .top {
    display: flex;
    align-items: center;
    gap: 1vw;
  }
  .page-2 .food-layout .layout-1 .top .logo,
  .page-2 .food-layout .layout-2 .top .logo,
  .page-2 .food-layout .layout-3 .top .logo {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
  }
  .page-2 .food-layout .layout-1 .top .logo img,
  .page-2 .food-layout .layout-2 .top .logo img,
  .page-2 .food-layout .layout-3 .top .logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .page-2 .food-layout .layout-1 .mid,
  .page-2 .food-layout .layout-2 .mid,
  .page-2 .food-layout .layout-3 .mid {
    margin-top: 2vw;
    font-family: monospace;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .page-2 .food-layout .layout-1 .bottom,
  .page-2 .food-layout .layout-2 .bottom,
  .page-2 .food-layout .layout-3 .bottom {
    margin-top: 7vw;
    width: 100%;
  }
  .page-2 .food-layout .layout-1 .bottom img,
  .page-2 .food-layout .layout-2 .bottom img,
  .page-2 .food-layout .layout-3 .bottom img {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .page-3 {
    padding: 4vh;
    margin-top: 8vh;
  }
  .page-3 .top-head {
    width: 100%;
    height: 100vh;
    text-transform: uppercase;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .page-3 .top-head .wrapper {
    display: flex;
    flex-direction: column;
  }
  .page-3 .top-head .wrapper h1 {
    font-weight: 600;
    font-size: 5vw;
    line-height: 4.8vw;
  }
  .page-3 .top-head .wrapper .singel {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 1rem;
  }
  .page-3 .top-head .wrapper .singel h1 {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 5vw;
  }
  .page-3 .top-head .wrapper .singel p {
    font-size: 0.8rem;
    text-align: start;
  }
  .page-3 .top-head .wrapper :nth-child(3) {
    width: -moz-fit-content;
    width: fit-content;
  }
  .page-3 .top-head .wrapper .text {
    display: none;
  }
  .page-3 .top-head .wrapper .mobile {
    display: none;
  }
  .page-3 .float-img {
    position: sticky;
    top: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: -88vh;
    width: 70vh;
    height: 80vh;
  }
  .page-3 .float-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    animation: float 4s ease-in-out infinite;
  }
  .page-3 .center {
    width: 100%;
    display: flex;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 8vh;
    padding: 0;
  }
  .page-3 .center .left {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0vh;
  }
  .page-3 .center .left h1 {
    width: 35vh;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    text-transform: uppercase;
  }
  .page-3 .center .left h3 {
    margin-top: 1rem;
    opacity: 0.5;
  }
  .page-3 .center .right {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding: 0vh;
  }
  .page-3 .center .right h1 {
    width: 35vh;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .page-3 .center .right .circle {
    width: 15vh;
  }
  .page-3 .bottom {
    width: 100%;
  }
  .page-3 .bottom .top {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 8vw;
    padding: 0vh;
  }
  .page-3 .bottom .top h1 {
    width: 60vh;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }
  .page-3 .bottom .end {
    width: 100%;
    display: flex;
    margin-top: 35vh;
    flex-direction: row;
    justify-content: space-between;
    gap: 5vh;
    padding: 0vh;
  }
  .page-3 .bottom .end .left {
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .page-3 .bottom .end .left p {
    font-size: 1rem;
    font-family: monospace;
  }
  .page-3 .bottom .end .left h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 30vh;
  }
  .page-3 .bottom .end .right {
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
  }
  .page-3 .bottom .end .right .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }
  .page-3 .bottom .end .right .wrapper h1 {
    text-transform: uppercase;
  }
  .page-3 .bottom .end .right .wrapper p {
    width: 45vh;
    margin-top: 1rem;
    text-align: end;
  }
}
@media (max-width: 850px) {
  .page-1 h1 {
    font-size: 4vh;
    line-height: 4vh;
    letter-spacing: normal;
  }
  .page-1 .desktop {
    display: none;
  }
  .page-1 .mobile {
    display: inline-flex;
  }
  .page-1 p {
    font-size: 1rem;
    width: 40vh;
  }
  .page-2 {
    padding: 2vh;
  }
  .page-2 .heading .text {
    display: none;
  }
  .page-2 .heading h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 7vh;
    line-height: 7vh;
    letter-spacing: -0.02rem;
  }
  .page-2 .heading .para {
    font-size: 1.5vh;
  }
  .page-2 .heading .para .mobile {
    display: none;
  }
  .page-2 .food-layout {
    display: grid;
    gap: 1vw;
    grid-template-columns: 1fr;
  }
  .page-2 .food-layout .desktop {
    display: none;
  }
  .page-2 .food-layout .layout-1,
  .page-2 .food-layout .layout-2,
  .page-2 .food-layout .layout-3 {
    padding: 3vw;
  }
  .page-2 .food-layout .layout-1 .top,
  .page-2 .food-layout .layout-2 .top,
  .page-2 .food-layout .layout-3 .top {
    display: flex;
    align-items: center;
    gap: 1vw;
  }
  .page-2 .food-layout .layout-1 .top .logo,
  .page-2 .food-layout .layout-2 .top .logo,
  .page-2 .food-layout .layout-3 .top .logo {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
  }
  .page-2 .food-layout .layout-1 .top .logo img,
  .page-2 .food-layout .layout-2 .top .logo img,
  .page-2 .food-layout .layout-3 .top .logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .page-2 .food-layout .layout-1 .mid,
  .page-2 .food-layout .layout-2 .mid,
  .page-2 .food-layout .layout-3 .mid {
    margin-top: 2vw;
    font-family: monospace;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .page-2 .food-layout .layout-1 .bottom,
  .page-2 .food-layout .layout-2 .bottom,
  .page-2 .food-layout .layout-3 .bottom {
    margin-top: 7vw;
    width: 100%;
  }
  .page-2 .food-layout .layout-1 .bottom img,
  .page-2 .food-layout .layout-2 .bottom img,
  .page-2 .food-layout .layout-3 .bottom img {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .page-3 {
    margin-top: 5vh;
    padding: 2vh;
    min-height: 100vh;
  }
  .page-3 .top-head {
    margin-top: 0;
  }
  .page-3 .top-head .wrapper {
    justify-content: center;
    align-items: center;
  }
  .page-3 .top-head .wrapper .text {
    display: inline-flex;
    text-align: center;
  }
  .page-3 .top-head .wrapper h1 {
    font-weight: 600;
    font-size: 5vh;
    line-height: 4.8vh;
  }
  .page-3 .top-head .wrapper .text-1 {
    display: none;
  }
  .page-3 .top-head .wrapper .singel {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
  }
  .page-3 .top-head .wrapper .singel h1 {
    display: none;
  }
  .page-3 .top-head .wrapper .singel p {
    width: 100%;
    text-align: center;
    font-size: 2.5vh;
  }
  .page-3 .float-img {
    position: sticky;
    top: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: -88vh;
    width: 35vh;
    height: 80vh;
  }
  .page-3 .float-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    animation: float 4s ease-in-out infinite;
  }
  .page-3 .center {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .page-3 .center .left {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: start;
    padding: 5vw;
  }
  .page-3 .center .left h1 {
    width: 35vh;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    text-transform: uppercase;
  }
  .page-3 .center .left h3 {
    margin-top: 1rem;
    opacity: 0.5;
  }
  .page-3 .center .right {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding: 0;
  }
  .page-3 .center .right h1 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .page-3 .center .right .circle {
    width: 12vh;
  }
  .page-3 .bottom {
    width: 100%;
  }
  .page-3 .bottom .top {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 10vh;
    padding: 0;
  }
  .page-3 .bottom .top h1 {
    width: 60vh;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }
  .page-3 .bottom .end {
    width: 100%;
    display: flex;
    margin-top: 0vh;
    flex-direction: column-reverse;
    gap: 5vh;
    padding: 0vh;
  }
  .page-3 .bottom .end .left {
    width: 50vw;
    height: auto;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .page-3 .bottom .end .left p {
    font-size: 1rem;
    font-family: monospace;
  }
  .page-3 .bottom .end .left h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 30vh;
  }
  .page-3 .bottom .end .right {
    width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: start;
    justify-content: start;
  }
  .page-3 .bottom .end .right .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .page-3 .bottom .end .right .wrapper h1 {
    text-transform: uppercase;
  }
  .page-3 .bottom .end .right .wrapper p {
    width: 100%;
    margin-top: 1rem;
    text-align: start;
  }
}/*# sourceMappingURL=style.css.map */